/* Contact Styles */
#contact {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    max-width: 62%;
}

#contact h1 {
    color: #d87c03;
    font-size: 2.7em;
    margin-bottom: 20px;
    font-weight: 300;
}

form {
    max-width: 70%;
    margin: 0 auto;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 48%; /* Para inputs y textarea */
    padding: 18px;
    border: 2px solid #ccc;
    border-radius: 11px;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 3px;
    transition: border-color 0.3s ease;
}

textarea {
    width: 100%;
    height: 100px;
    resize: none;
}

input:focus,
textarea:focus {
    border-color: #d87c03;
    outline: none;
}

.send-btn {
    background-color: #d87c03;
    color: white;
    border: none;
    padding: 15px 71px;
    border-radius: 12px;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-btn:hover {
    background-color: #aa5e00;
}