/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

section {
    padding: 4em 2em; 
    margin-top: 3em; 
}

#about, #projects, #contact {
    max-width: 90%; 
    margin: 0 auto;
    text-align: center;
}

#about h1, #projects h1, #contact h1 {
    margin-bottom: 1.25em; 
}

.project {
    margin-bottom: 1.25em; 
    padding: 1.25em; 
    border-bottom: 1px solid #ddd;
}

form {
    margin-top: 1.25em; 
}

form label {
    display: block;
    margin-bottom: 0.625em; 
    text-align: left;
}

.highlight {
    color: rgb(143, 29, 29);
}